:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}
.principal {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color :var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}
.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__titulo {
    font-size: 28px;
    font-weight: 700;
}
.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
    
}

.secundario__imagem {
    width: 72%;
    margin-left: 9em;
    
}

.container__secundario {
    align-items: center;
    margin: 0 6em;
    display: grid;
    grid-template-columns: 50% 50%;
   

}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 1em;
}

.parte_tres {
    padding: 2em;
    margin-top: 3em;
    display: flex;  
}
.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    margin: 5em 2em;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);  
}

.rodape {
    text-decoration: none;
    text-align: center;
    color: var(--branco-principal);
    margin: 5em 5m;
    

}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}


.lista__link {
    display: inline-block;
    text-decoration: none;
    margin-top: 3em;
    margin: 1em 1em;
    color: var(--branco-principal);

}

.lista__link:hover {
    color: var(--botao-azul);
}

.lista__link:active {
    color: green
}




.rodape__texto {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin: 1em 8em 3em 3em;
    padding: 1em;
    border: 1em;
    color: var(--cinza-secundario);
}
.alink {
    text-decoration: none;
    color: var(--branco-principal);
}


.container__botao:hover {
    background-color: rgb(67, 130, 66);
}

@media screen and (max-width: 768px) {

    .container {
        display:list-item;
        background-image: none; 
        margin: auto;   
    }
    .container__secundario {
        margin: 0;
        display: block;

    }
    .container__descricao {
        
    }
    .secundario_botao {
        text-align: center;
        margin: 2em 2em;
        display: block;
        justify-content: center;
    }
    .container.descricao__texto {
        display:none;
        text-align: left;
        justify-items: left;
        margin: 1em 1em;
    }
    .container__imagem {
        width: 50vw;
        margin: auto;    
    }
    .container__caixa {
        margin:auto;
    }
    .secundario {
        margin: auto;
        text-align: center;    
    }
    .secundario__imagem {
        display: inline-block;
        width: 50vw;
        margin: auto;
    }
    .descricao__texto {
        margin: auto;
    }
    .descricao__titulo {
        margin: auto;
        text-align: center
    }
    .dispositivos__titulo {
        text-align:center;
        margin: auto;
    }
    .dispositivos__lista {
        display: block;
    }
    .rodape__lista {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .rodape__texto {
        text-align:justify;
        display: block;
        margin:auto;
    }
    .corpo {
        margin: auto;
    }
}



